<% layout('../../layout/page.ejs') %>


<style>
    .create__vacancy-container {
        display: flex;
        flex-direction: column;
    }
</style>


<form class="create__vacancy-container" method="post" action="/post_vacancy?id=<%- vacancy.id %>&action=<%-actionForm%>">
    <input name="cv_id" style="display: none" value="<%- vacancy.id %>">

    <label>Компания</label>
    <input name="cv_company" value="<%- vacancy.company %>" required>

    <label>Вид занятости</label>
    <input name="cv_type" value="<%- vacancy.type %>" required>

    <label>Logo</label>
    <input id="cv_loadLogo" type="file">
    <input id="cv_createLogo" style="display: none" name="cv_logo">

    <label>Ссылка</label>
    <input name="cv_url" value="<%- vacancy.url %>">

    <label>Должность</label>
    <input name="cv_position" value="<%- vacancy.position %>" required>

    <label>Локация</label>
    <input name="cv_location_id" value="<%- vacancy.location_id %>">

    <label>Категории</label>
    <input name="cv_category_id" value="<%- vacancy.category_id %>">

    <label>Описание</label>
    <input name="cv_description" value="<%- vacancy.description %>" required>

    <label>Публичный или нет</label>
    <% if(vacancy.is_public == 1) { %>
    <input type="checkbox" name="cv_is_public" checked>
    <% } else { %>
    <input type="checkbox" name="cv_is_public">
    <% } %>

    <% if(!vacancy.token) { %>
    <label>Сгенерировать токен ?</label>
    <% } else { %>
    <label>Обновить токен ?</label>
    <% } %>
    <input type="checkbox" name="cv_generate_token">

    <button id="submit" type="submit" data-loadint-text="Отпр."><%- buttonText %></button>
</form>

<form method="post" action="/post_vacancy?id=<%- vacancy.id %>&action=delete">
    <% if(vacancy.id) { %>
    <button id="submit" type="submit" data-loadint-text="Отпр.">Delete</button>
    <% }%>
</form>


<script>
    function loadImage(url, callback) {
        const xhr = new XMLHttpRequest();
        xhr.onload = function () {
            const reader = new FileReader();
            reader.onloadend = function () {
                callback(reader.result);
            };
            reader.readAsDataURL(xhr.response);
        };
        xhr.open('GET', url);
        xhr.responseType = 'blob';
        xhr.send();
    }

    document.getElementById('cv_loadLogo').onchange = () => {
        loadImage(this.value, (data) => {
            console.log(data);
        });
    };
</script>