<% layout('../../layout/page.ejs') %>
<% if(vacancy) { %>
<p><%- vacancy.company %></p>
<p><%- vacancy.type %></p>
<p><%- vacancy.logo %></p>
<p><%- vacancy.url %></p>
<p><%- vacancy.position %></p>
<p><%- vacancy.location_id %></p>
<p><%- vacancy.sub_category_id %></p>
<p><%- vacancy.description %></p>
<p><%- vacancy.interview %></p>
<p><%- vacancy.is_public %></p>
<p><%- vacancy.email %></p>
<p><%- vacancy.state %></p>
<p><%- vacancy.created %></p>
<p><%- vacancy.creator_id %></p>
<p><%- vacancy.state %></p>
<% } else { %>
<p>Not Found</p>
<% } %>
